---
import ExperienceItem from "./ExperienceItem.astro";
import es from "../json/locales/es.json";
import en from "../json/locales/en.json";

interface Props {
  lang?: "es" | "en";
}

const { lang = "es" } = Astro.props;
const locale = lang === "en" ? en : es;
const EXPERIENCE = locale.experience.experience;
const saberMas = locale.experienceItem.saberMas;
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} saberMas={saberMas} />
      </li>
    ))
  }
</ol>
