---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
import "../styles/global.css";

const { title } = Astro.props.title;
const { description } = Astro.props.description;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="relative h-full w-full bg-neutral-900">
      <div
        class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-80 blur-[100px]"
      >
      </div>
    </div>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: #21031b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
